<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manage Account</servlet-name>
        <servlet-class>controller.ManagerAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountEditServlet</servlet-name>
        <servlet-class>controller.ManagerAccountBlockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountUnlockServlet</servlet-name>
        <servlet-class>controller.ManagerAccountUnlockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage Account</servlet-name>
        <url-pattern>/admin/manageraccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountUnlockServlet</servlet-name>
        <url-pattern>/admin/unlock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountEditServlet</servlet-name>
        <url-pattern>/admin/lock</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
